@charset "utf-8";
/* @import url('/css/dist/swiper-bundle.min.css') layer(swiper); */
@import url('/css/font.css');
@layer swiper, base, layout, main;



/*
* base CSS Document
*/

/* 루트 설정 */
:root{
    --header-height: 93rem;
    --inr-narrow: 1024;
    --inr: 1440;
    --inr-wide: 1920;
    --inr-width: .92;
    --primary: #da251c;
    --primary-hover: #bb1c14;
    --white: #fff;
    --black: #000;
    --black-muted: #151515;
    --black-border:  #4d4d4d;
    --blue : #5183AE;
    --grey : #757575;
    --icn-blue : #689DCB;
    --icn-green : #70B33D;
    --icn-orange : #F8A92C;
    --list-container : #f3f4f6;


    --section-p-block : 94rem 130rem;
    --section-p-block-mobile : 50rem 30rem;
    --text-black : #353535;

    --card-radius: 10rem;

}

/* 스크롤 */
/* ::-webkit-scrollbar{ display: none; } */
@media(prefers-reduced-motion:no-preference){
    html{ scroll-behavior: smooth; }
}

/* reset */
*, *::before, *::after{ box-sizing: border-box; }
html{ accent-color: var(--primary); font-family: 'Noto Sans KR', Sans-serif; line-height:auto; color:var(--black); word-break: keep-all; }
@media(min-width:1280px){
    html{ font-size: clamp(0px, calc( ( 100 / ( var(--inr) / var(--inr-width) ) ) * 1vw ), 1px ); }
}
@media(min-width:1921px){
    html{ font-size: clamp(0px, calc( ( 100 / 1920 ) * 1vw ), 500px ); }
}
@media(max-width:1279px) and (min-width:768px){
    html{ font-size: clamp(0px, calc( ( 100 / 768 ) * .75vw ), 5px ); }
}
@media(max-width:767px){
    html{ font-size: clamp(0px, calc( ( 100 / 412 ) * .875vw ), 5px ); }
}
body{ font-size: 16rem; }
@layer base{
    body,p,div,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,button{margin:0; padding:0;}
    input,textarea,button,select{ font-family: inherit; font-size: inherit; color: inherit; }
    img, fieldset, button{border:0;}
    textarea{overflow:auto; resize: none; }
    button{ background: 0; font-weight: inherit; color: inherit; cursor:pointer; }
    img{vertical-align:middle;}
    address, em{font-style:normal;}
    table{border-spacing:0; border-collapse:collapse;}
    caption{overflow:hidden; line-height:0; text-indent:-2000em;}
    legend, .hidden{padding:0; margin:0; overflow:hidden !important; text-indent:100%; white-space:nowrap; font-size:0;}
    i{font-style:normal;}
    summary::-webkit-details-marker{ display: none; }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, hgroup, menu {display:block;}
    figure{padding:0px; margin:0px;}
}
.hidden { display: none !important; visibility: hidden; }
.row { flex-direction: row !important; }

/* 링크 기본값 */
a{ text-decoration: none; color: inherit; }

/* 리스트 스타일 제거 */
ul,ol,li{list-style:none;}

/* mobile */
body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
/* 선택자 */
::selection{ background: var(--primary); color: var(--white); }
.selection-reverse::selection,
.selection-reverse *::selection{ background: var(--white); color: var(--primary); }

/* 아웃라인 */
*{ outline-color: var(--primary); }

/* 말줄임표 */
.ellipsis{ overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; white-space: normal; word-break: break-all; }

/* hide */
@media(min-width: 768px){
    #wrap .show-mo{ display: none; }
}
@media(min-width: 1280px){
    #wrap .show-tab{ display: none; }
}
@media(max-width: 1279px){
    #wrap .hide-tab{ display: none; }
    #wrap .show-tab.block{ display: block; }
    #wrap .show-tab.flex{ display: flex; }
    #wrap .show-tab.inline_block{ display: inline-block; }
    #wrap .show-tab.inline_flex{ display: inline-flex; }
}
@media(max-width: 767px){
    #wrap .hide-mo{ display: none; }
    #wrap .show-mo.block{ display: block; }
    #wrap .show-mo.flex{ display: flex; }
    #wrap .show-mo.inline_block{ display: inline-block; }
    #wrap .show-mo.inline_flex{ display: inline-flex; }
}

/* font size */
:root{
    --fs90: clamp(78rem, calc( 90 / var(--inr) * 100vw ), 90rem);
    --fs60: clamp(48rem, calc( 60 / var(--inr) * 100vw ), 60rem);
    --fs50: clamp(40rem, calc( 50 / var(--inr) * 100vw ), 50rem);
    --fs45: clamp(36rem, calc( 45 / var(--inr) * 100vw ), 45rem);
    --fs40: clamp(34rem, calc( 40 / var(--inr) * 100vw ), 40rem);
    --fs36: clamp(28rem, calc( 36 / var(--inr) * 100vw ), 36rem);
    --fs32: clamp(26rem, calc( 32 / var(--inr) * 100vw ), 32rem);
    --fs30: clamp(28rem, calc( 30 / var(--inr) * 100vw ), 30rem);
    --fs28: clamp(26rem, calc( 28 / var(--inr) * 100vw ), 28rem);
    --fs26: clamp(24rem, calc( 26 / var(--inr) * 100vw ), 26rem);
    --fs24: clamp(22rem, calc( 24 / var(--inr) * 100vw ), 24rem);
    --fs22: clamp(20rem, calc( 22 / var(--inr) * 100vw ), 22rem);
    --fs20: clamp(18rem, calc( 20 / var(--inr) * 100vw ), 20rem);
    --fs18: clamp(16rem, calc( 18 / var(--inr) * 100vw ), 18rem);
    --fs16: clamp(14rem, calc( 16 / var(--inr) * 100vw ), 16rem);
    --fs14: clamp(12rem, calc( 14 / var(--inr) * 100vw ), 14rem);
    --fs12: clamp(10rem, calc( 12 / var(--inr) * 100vw ), 12rem);
}

/* tailwindcss */
.fill-none{fill:none;}
.inline-block{ display: inline-block; }
.text-center{ text-align: center; }
.text-balck{ color: var(--black); }
.text-primary{ color: var(--primary); }
.text-secondary{ color: var(--secondary); }
.text-white{ color: var(--white); }
.relative{ position: relative; }
.ml-0 {margin-left: 0 !important;}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #353535 ;
    overflow-y: hidden;
}

h1 {
    font-size: var(--fs45);
}

@media (max-width: 767px) {
    body {overflow-y: auto;} 
}
@media (min-width: 768px) and (max-width: 1024px) { 
    body {overflow-y: auto;} 
}
